h1{color: red; text-align: center;}
h2 {font: 21px; color: lawngreen;}
b {color: red; font-size: 21px;}
i{color: blue; font-weight: bold;}
p{font: 21px "Times New Roman"; text-align: justify;}
ul {font: 21px; font-style: italic; color: darkviolet; width: 500px;}
ol{color: red;}